
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;700&display=swap');

/* Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;800&display=swap');


.container {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 206, 170);
}

#logo {
  margin: 1.5em auto auto auto;
  width: 170px;
  height: 170px;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.button:hover {
  background-color: rgb(220, 114, 128);
  color: white;
}

#logo:hover {
  cursor: pointer;
}

#next-question-btn, #show-answer-btn {
  font-size: 14px;
  color: #2A363B;
  font-family: 'Roboto Slab';
  border: none;
  border-radius: 5px;
  padding: 10px 18px;
  background-color: white;
  border: .5px solid rgb(194, 125, 110);
  box-shadow: 3px 3px rgb(194, 125, 110);
  display: none;
}

#next-question-btn {
  margin-bottom: 10px;
}

#question-container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Roboto Mono';
  color: #2A363B;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 1em 1em 0 1em;
  display: none;
}

#multiple-choice {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Roboto Mono';
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}

#multiple-choice-bonus {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Roboto Mono';
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}

.alterEgo {
  opacity: 1;
  width: 5em;
  height: 5em;
}

.alterEgo {
  border-radius: 50%;
  background-color: #A8A7A7;
  box-shadow: 3px 3px 5px #474747;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
}

.ego-container {
  margin-top: 0;
}

.ego-name {
  opacity: 1;
  color: #2A363B;
}

.ego-container:hover img {
  opacity: 0.5;
  cursor: pointer;
}

.ego-container:hover .middle {
  opacity: 1;
}

li {
  list-style-type: none;
  margin: .5em;
  color: white;
}

li:hover {
  color: rgb(109, 92, 126);
  cursor: pointer;
}

#answer-container {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Roboto Mono';
  color: #C06C84;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  display: none;
}

.answers {
  margin: auto;
  width: 50%;
}

#start {
  font-size: 18px;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 24px;
  height: 75px;
  width: 225px;
  border: none;
  border: .5px solid rgb(194, 125, 110);
  box-shadow: 3px 3px rgb(194, 125, 110);
  border-radius: 5px;
  padding: 10px 18px;
  margin: 20px 0;
}

#container {
  width: auto ;
  height: auto;
  display: flex;
  flex-direction: column;
}

#modal {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-message {
	background-color: white;
	font-family: 'Roboto Slab';
  color: #2A363B;
  text-align: center;
  justify-content: center;
	height: 260px;
	width: 320px;
	border-radius: 5px;
	margin: 150px auto;
	padding: 2%;
	line-height: 20px;
	box-shadow: 0 25px 70px rgba(0, 0, 0, 0.4);
}

#modal-close-button {
  width: 60px;
  height: 25px;
  font-family: 'Roboto Slab';
  font-size: 14px;
}

@media (min-width: 1024px) {
    #logo {
      width: 220px;
      height: 220px;
      margin-top: 2vh;
    }

    #next-question-btn, #show-answer-btn {
      font-size: 22px;
    }

    #question-container {
      font-size: 28px;
    }

    #multiple-choice {
      font-size: 28px;
    }

    #answer-container {
      font-size: 28px;
    }

    #modal-message {
    	height: 320px;
    	width: 400px;
      font-size: 22px;
    }

    .alterEgo {
      width: 8em;
      height: 8em;
      margin: 2em;
    }

    img {
      width: 200px;
      height: 150px;
    }

}
